{{ form_start(form) }}
{{ form_widget(form) }}
<div class="text-center">
    <button type="reset" class="btn btn-secondary" role="button">{{ 'cancel'|trans }}</button>
    <button type="submit" class="btn btn-primary" role="button">{{ 'save'|trans }}</button>
</div>
{{ form_end(form) }}
