<a class="btn btn-block btn-google" href="{{ path('auth', {'network':'google'}) }}">
    <i class="fab fa-google"></i> {{ 'google'|trans }}
</a>
<a class="btn btn-block btn-facebook" href="{{ path('auth', {'network':'facebook'}) }}">
    <i class="fab fa-facebook-f"></i> {{ 'facebook'|trans }}
</a>
<a class="btn btn-block btn-vkontakte" href="{{ path('auth', {'network':'vkontakte'}) }}">
    <i class="fab fa-vk"></i> {{ 'vkontakte'|trans }}
</a>
